.color1 {
    color: #9b1fe9 !important
}

.border1 {
    border: 2px solid #9b1fe9 !important;
    border-radius: 3px !important;
}

.eth-heading {
    font-size: 14px !important;
    border: 1px solid #ddd !important;
    padding: 10px 20px !important;
    border-radius: 3px !important;
    color: #6d7380;
}

.eth-logo {
    margin-right: 8px;
    margin-bottom: 2px !important;
}

.list {
    width: 225px;
    box-shadow: 0 4px 9px -8px grey;
}

.list-item {
    display: flex !important;
    align-items: center !important;
    /* padding: 2px 8px !important; */
    border-radius: 3px;
}

.list-item img {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

.list-item p {
    font-size: 14px;
    padding-top: 10px;
    color: #6d7380;
}

.modalbtn {
    padding: 9px 20px !important;
    border: 2px solid #9b1fe9;
    border-radius: 3px;
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #9b1fe9;
    background: transparent;
    margin-left: 10px;
}

.modalbtn:hover {
    border: 2px solid #9b1fe9;
    border-radius: 3px;
    color: #9b1fe9
}


.notifysection {
    background-color: #9b1fe9;
}

.container {
    padding: 0 30px;
    margin: auto;
    width: 1340px;
}

.brand-name {
    font-size: 25px !important;
}

.modal {
    width: 450px;
    height: auto;
    padding: 25px;
}


.modal-img {
    background: #f5f7fd;
    padding: 20px;
    width: 50%;
    text-align: center;
    margin: 10px;
}

.modal-img h3 {
    font-size: 18px;
    font-weight: 600;
    color: #9b1fe9;
}