.home {
    font-family: 'Varela Round', sans-serif;
}

.notifysection {
    background-color: #9b1fe9;
}

.notice-container {
    padding: 0px 30px !important;
    margin: auto !important;
    max-width: 1340px;
}



.notice-text {
    font-size: 16px;
    padding-top: 10px;
}


.form-container {
    background: #fff;
    padding: 25px 20px;
}

.form-control {
    font-size: 14px !important;
}

.heading {
    font-size: 35px;
    font-weight: 600;
}

.para {
    font-size: 16px;
    width: 680px;
    line-height: 25px;
    color: #6d7380;
}

.warning {
    display: flex;
    align-items: center;
    padding: 0 10px;
    background: #eef2fe;
}

.warning svg {
    color: #9b1fe9 !important;
    font-size: 18px;
}

.warning p {
    font-size: 14px;
}

.labeltext {
    font-size: 13px;
}


.warning p {
    font-size: 14px;
    margin-left: 10px !important;
    margin-top: 15px;
}

.submitbtn {
    background: #9b1fe9;
    border: none;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    border-radius: 3px;
    padding: 10px 15px;
}

.form-container input {
    outline: none;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 10px;
    margin-top: 5px !important
}

.req-text {
    font-size: 15px;
}

.trx-btn {
    margin-right: 10px;
    padding: 10px 15px;
    background: #f5f7fd;
    font-size: 13px;
    border: none;
    border-radius: 3px;
}

.active-btn {
    background: #00f !important;
    color: #fff;
    margin-right: 10px;
    padding: 10px 15px;
    font-size: 13px;
    border: none;
    border-radius: 3px;
}